@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<LibraryASPMVC.Models.Author>;
@{
}
<section class="hero is-fullheight-with-header">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable is-multiline">

                <form class="column is-one-thirds has-text-left" method="post" action="Create">
                    <h1 class="subtitle is-1 is-size-3">Crear Libro</h1>

                    <div class="field">
                        <label class="label">Titulo</label>
                        <div class="control">
                            <input name="Title" class="input" type="text">
                        </div>
                        <p class="help is-danger">Ingrese un título</p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select name="AuthorId">
                                    @foreach(var author in Model)
                                    {
                                        <option value="@author.AuthorId">@author.Name</option>
                                    }   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Crear</button>
                        </div>
                    </div>
                </form>

                <div class="column is-two-thirds has-text-left">
                </div>
            </div>
        </div>
    </div>
</section>
