@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@model List<LibraryASPMVC.Models.Author>
@{
    ViewData["Title"] = "Autores";
}
<section class="hero is-fullheight-with-header">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable is-multiline">

                <form id="authorForm" class="column is-one-thirds has-text-left" method="post" action="Create">
                    <h1 class="subtitle is-1 is-size-3">Crear Autor</h1>

                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <input id="name" name="Name" class="input" type="text">
                        </div>
                        <span id="nameError" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">Crear</button>
                            </div>
                            <div class="control">
                                <a asp-action="Index" asp-controller="Home" type="submit" class="button">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="column is-two-thirds has-text-left">
                    <partial name="_authorsTable" model="@Model"/>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        let isTouched = false;
        const name = document.getElementById('name');
        const nameError = document.getElementById('nameError');

        name.addEventListener('input', () => {
            nameError.innerText = name.value.length < 1 && isTouched ? 'Debe ingresar un nombre válido!' : '';
        });

        name.addEventListener('blur', () => {
            isTouched = true;
        });

        document.getElementById('authorForm').addEventListener('submit', function (event) {
            if (name.value.length < 1) {
                event.preventDefault();
                alert('Debe ingresar un nombre válido!');
            }
        });
    </script>
}
