@{
    ViewData["Title"] = "Home";    
}
@model List<LibraryASPMVC.Models.BookAuthorInfo>;

<section class="hero is-fullheight-with-header">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable is-multiline">

                <div class="column is-one-thirds has-text-left">
                    <h1 class="subtitle is-1 is-size-3">Gestión de biblioteca</h1>
                    <p class="is-size-4">
                        Esta página presenta el catálogo completo de libros. Pueden gestionar  los autores y los títulos.
                    </p>
                    <div class="mt-6 field is-grouped">
                        <div class="control">
                            <a class="button is-link mb-2" asp-controller="Book" asp-action="New">Libros</a>
                        </div>
                        <div class="control">
                            <a class="button is-link mb-2" asp-controller="Author" asp-action="New">Autores</a>
                        </div>
                    </div>
                </div>

                <div class="column is-two-thirds has-text-left">
                    <partial name="_booksTable" model="@Model" />
                 </div>
            </div>
        </div>
    </div>
</section>